trunk/ViewModelObjectCache/Service References/TdsSvcRef/TdsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30982/TdsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TdsSvc.Model" />
  <xs:import schemaLocation="http://localhost:30982/TdsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetArgPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArgPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetArgPointResult" nillable="true" type="q1:SArgPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArgPointsInTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topicId" type="xs:int" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArgPointsInTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetArgPointsInTopicResult" nillable="true" type="q2:ArrayOfSArgPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="comment" nillable="true" type="q3:SComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCommentText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
        <xs:element minOccurs="0" name="newText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCommentTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCommentsUnreadBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCommentsUnreadByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="NumCommentsUnreadByResult" nillable="true" type="q4:ArrayOfSNewCommentsFrom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsetOfPersonsWithDots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="personIds" nillable="true" type="q5:ArrayOfint" />
        <xs:element minOccurs="0" name="topicId" type="xs:int" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsetOfPersonsWithDotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubsetOfPersonsWithDotsResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsInArgPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsInArgPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetCommentsInArgPointResult" nillable="true" type="q7:ArrayOfSComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentReadInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentReadInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetCommentReadInfoResult" nillable="true" type="q8:SCommentReadInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesInArgPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesInArgPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetSourcesInArgPointResult" nillable="true" type="q9:ArrayOfSSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSourceArgPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSourceArgPointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveSourceUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveSourceUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveSourceUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveSourceDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveSourceDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveSourceDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetSourcesOrderResult" nillable="true" type="q10:ArrayOfSOrderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentToPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="attachment" nillable="true" type="q11:SInAttachment" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentToPointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentToDiscussion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discussionId" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="attachment" nillable="true" type="q12:SInAttachment" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentToDiscussionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentToOwnAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="attachment" nillable="true" type="q13:SInAttachment" />
        <xs:element minOccurs="0" name="callerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttachmentToOwnAvatarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attachmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAttachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAttachmentUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attachmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAttachmentUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveAttachmentUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAttachmentDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attachmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAttachmentDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveAttachmentDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetAttachmentsOrderResult" nillable="true" type="q14:ArrayOfSOrderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsInArgPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:int" />
        <xs:element minOccurs="0" name="includeMediaData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsInArgPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TdsSvc.Model" minOccurs="0" name="GetAttachmentsInArgPointResult" nillable="true" type="q15:ArrayOfSOutAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>