trunk/discussions/Service References/TdsSvcRef/TdsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TdsSvc.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TdsSvc.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SArgPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Point" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecentlyEnteredMediaUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecentlyEnteredSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SharedToPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="SideCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SArgPoint" nillable="true" type="tns:SArgPoint" />
  <xs:complexType name="ArrayOfSArgPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SArgPoint" nillable="true" type="tns:SArgPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSArgPoint" nillable="true" type="tns:ArrayOfSArgPoint" />
  <xs:complexType name="SComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArgPointId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SComment" nillable="true" type="tns:SComment" />
  <xs:complexType name="ArrayOfSNewCommentsFrom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SNewCommentsFrom" nillable="true" type="tns:SNewCommentsFrom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSNewCommentsFrom" nillable="true" type="tns:ArrayOfSNewCommentsFrom" />
  <xs:complexType name="SNewCommentsFrom">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumNewComments" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SNewCommentsFrom" nillable="true" type="tns:SNewCommentsFrom" />
  <xs:complexType name="ArrayOfSComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SComment" nillable="true" type="tns:SComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSComment" nillable="true" type="tns:ArrayOfSComment" />
  <xs:complexType name="ArrayOfSSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SSource" nillable="true" type="tns:SSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSSource" nillable="true" type="tns:ArrayOfSSource" />
  <xs:complexType name="SSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSource" nillable="true" type="tns:SSource" />
  <xs:complexType name="ArrayOfSOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SOrderInfo" nillable="true" type="tns:SOrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSOrderInfo" nillable="true" type="tns:ArrayOfSOrderInfo" />
  <xs:complexType name="SOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOrderInfo" nillable="true" type="tns:SOrderInfo" />
  <xs:complexType name="SInAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Format" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Thumb" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoEmbedURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoLinkURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoThumbURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SInAttachment" nillable="true" type="tns:SInAttachment" />
  <xs:complexType name="ArrayOfSOutAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SOutAttachment" nillable="true" type="tns:SOutAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSOutAttachment" nillable="true" type="tns:ArrayOfSOutAttachment" />
  <xs:complexType name="SOutAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArgPointId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiscussionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Format" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MediaDataId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonWithAvatarId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Thumb" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoEmbedURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoLinkURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoThumbURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOutAttachment" nillable="true" type="tns:SOutAttachment" />
</xs:schema>