discussions/ViewModelObjectCache/Service References/TdsSvcRef/TdsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TdsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_ITdsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30982/TdsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30982/TdsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30982/TdsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TdsSvc.Model" />
      <xsd:import schemaLocation="http://localhost:30982/TdsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITdsService_GetArgPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArgPoint" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetArgPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArgPointResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetArgPointsInTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArgPointsInTopic" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetArgPointsInTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArgPointsInTopicResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_ChangeCommentText_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCommentText" />
  </wsdl:message>
  <wsdl:message name="ITdsService_ChangeCommentText_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCommentTextResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_RemoveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveComment" />
  </wsdl:message>
  <wsdl:message name="ITdsService_RemoveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_NumCommentsUnreadBy_InputMessage">
    <wsdl:part name="parameters" element="tns:NumCommentsUnreadBy" />
  </wsdl:message>
  <wsdl:message name="ITdsService_NumCommentsUnreadBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumCommentsUnreadByResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_SubsetOfPersonsWithDots_InputMessage">
    <wsdl:part name="parameters" element="tns:SubsetOfPersonsWithDots" />
  </wsdl:message>
  <wsdl:message name="ITdsService_SubsetOfPersonsWithDots_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubsetOfPersonsWithDotsResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetCommentsInArgPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsInArgPoint" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetCommentsInArgPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsInArgPointResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetCommentReadInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentReadInfo" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetCommentReadInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentReadInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetSourcesInArgPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourcesInArgPoint" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetSourcesInArgPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourcesInArgPointResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddSourceArgPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSourceArgPoint" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddSourceArgPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSourceArgPointResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveSourceUp_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveSourceUp" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveSourceUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveSourceUpResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveSourceDown_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveSourceDown" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveSourceDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveSourceDownResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetSourcesOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourcesOrder" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetSourcesOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourcesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddAttachmentToPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAttachmentToPoint" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddAttachmentToPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAttachmentToPointResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddAttachmentToDiscussion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAttachmentToDiscussion" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddAttachmentToDiscussion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAttachmentToDiscussionResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddAttachmentToOwnAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAttachmentToOwnAvatar" />
  </wsdl:message>
  <wsdl:message name="ITdsService_AddAttachmentToOwnAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAttachmentToOwnAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_RemoveAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAttachment" />
  </wsdl:message>
  <wsdl:message name="ITdsService_RemoveAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveAttachmentUp_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveAttachmentUp" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveAttachmentUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveAttachmentUpResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveAttachmentDown_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveAttachmentDown" />
  </wsdl:message>
  <wsdl:message name="ITdsService_MoveAttachmentDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveAttachmentDownResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetAttachmentsOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsOrder" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetAttachmentsOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetAttachmentsInArgPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsInArgPoint" />
  </wsdl:message>
  <wsdl:message name="ITdsService_GetAttachmentsInArgPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsInArgPointResponse" />
  </wsdl:message>
  <wsdl:portType name="ITdsService">
    <wsdl:operation name="GetArgPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetArgPoint" message="tns:ITdsService_GetArgPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetArgPointResponse" message="tns:ITdsService_GetArgPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArgPointsInTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetArgPointsInTopic" message="tns:ITdsService_GetArgPointsInTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetArgPointsInTopicResponse" message="tns:ITdsService_GetArgPointsInTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/AddComment" message="tns:ITdsService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/AddCommentResponse" message="tns:ITdsService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCommentText">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/ChangeCommentText" message="tns:ITdsService_ChangeCommentText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/ChangeCommentTextResponse" message="tns:ITdsService_ChangeCommentText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/RemoveComment" message="tns:ITdsService_RemoveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/RemoveCommentResponse" message="tns:ITdsService_RemoveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumCommentsUnreadBy">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/NumCommentsUnreadBy" message="tns:ITdsService_NumCommentsUnreadBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/NumCommentsUnreadByResponse" message="tns:ITdsService_NumCommentsUnreadBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubsetOfPersonsWithDots">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/SubsetOfPersonsWithDots" message="tns:ITdsService_SubsetOfPersonsWithDots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/SubsetOfPersonsWithDotsResponse" message="tns:ITdsService_SubsetOfPersonsWithDots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsInArgPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetCommentsInArgPoint" message="tns:ITdsService_GetCommentsInArgPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetCommentsInArgPointResponse" message="tns:ITdsService_GetCommentsInArgPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentReadInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetCommentReadInfo" message="tns:ITdsService_GetCommentReadInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetCommentReadInfoResponse" message="tns:ITdsService_GetCommentReadInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourcesInArgPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetSourcesInArgPoint" message="tns:ITdsService_GetSourcesInArgPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetSourcesInArgPointResponse" message="tns:ITdsService_GetSourcesInArgPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSourceArgPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/AddSourceArgPoint" message="tns:ITdsService_AddSourceArgPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/AddSourceArgPointResponse" message="tns:ITdsService_AddSourceArgPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveSourceUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/MoveSourceUp" message="tns:ITdsService_MoveSourceUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/MoveSourceUpResponse" message="tns:ITdsService_MoveSourceUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveSourceDown">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/MoveSourceDown" message="tns:ITdsService_MoveSourceDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/MoveSourceDownResponse" message="tns:ITdsService_MoveSourceDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourcesOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetSourcesOrder" message="tns:ITdsService_GetSourcesOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetSourcesOrderResponse" message="tns:ITdsService_GetSourcesOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentToPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/AddAttachmentToPoint" message="tns:ITdsService_AddAttachmentToPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/AddAttachmentToPointResponse" message="tns:ITdsService_AddAttachmentToPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentToDiscussion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/AddAttachmentToDiscussion" message="tns:ITdsService_AddAttachmentToDiscussion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/AddAttachmentToDiscussionResponse" message="tns:ITdsService_AddAttachmentToDiscussion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentToOwnAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/AddAttachmentToOwnAvatar" message="tns:ITdsService_AddAttachmentToOwnAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/AddAttachmentToOwnAvatarResponse" message="tns:ITdsService_AddAttachmentToOwnAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/RemoveAttachment" message="tns:ITdsService_RemoveAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/RemoveAttachmentResponse" message="tns:ITdsService_RemoveAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveAttachmentUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/MoveAttachmentUp" message="tns:ITdsService_MoveAttachmentUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/MoveAttachmentUpResponse" message="tns:ITdsService_MoveAttachmentUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveAttachmentDown">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/MoveAttachmentDown" message="tns:ITdsService_MoveAttachmentDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/MoveAttachmentDownResponse" message="tns:ITdsService_MoveAttachmentDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetAttachmentsOrder" message="tns:ITdsService_GetAttachmentsOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetAttachmentsOrderResponse" message="tns:ITdsService_GetAttachmentsOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsInArgPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/ITdsService/GetAttachmentsInArgPoint" message="tns:ITdsService_GetAttachmentsInArgPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITdsService/GetAttachmentsInArgPointResponse" message="tns:ITdsService_GetAttachmentsInArgPoint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_ITdsService" type="tns:ITdsService">
    <wsp:PolicyReference URI="#NetHttpBinding_ITdsService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="GetArgPoint">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetArgPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArgPointsInTopic">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetArgPointsInTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/AddComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCommentText">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/ChangeCommentText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/RemoveComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumCommentsUnreadBy">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/NumCommentsUnreadBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubsetOfPersonsWithDots">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/SubsetOfPersonsWithDots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsInArgPoint">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetCommentsInArgPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentReadInfo">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetCommentReadInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourcesInArgPoint">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetSourcesInArgPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSourceArgPoint">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/AddSourceArgPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveSourceUp">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/MoveSourceUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveSourceDown">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/MoveSourceDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourcesOrder">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetSourcesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentToPoint">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/AddAttachmentToPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentToDiscussion">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/AddAttachmentToDiscussion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentToOwnAvatar">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/AddAttachmentToOwnAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAttachment">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/RemoveAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveAttachmentUp">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/MoveAttachmentUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveAttachmentDown">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/MoveAttachmentDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsOrder">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetAttachmentsOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsInArgPoint">
      <soap12:operation soapAction="http://tempuri.org/ITdsService/GetAttachmentsInArgPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TdsService">
    <wsdl:port name="NetHttpBinding_ITdsService" binding="tns:NetHttpBinding_ITdsService">
      <soap12:address location="ws://localhost:30982/TdsService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>ws://localhost:30982/TdsService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>